body {
margin: 0px;
}
header {
width:100%;
height: 150px;
background-color: black;
}

main {
width:1200px;
height:1000px;
background-color: crimson;
margin-left: auto;
margin-right: auto;
}

footer {
width:100%;
height: 200px;
background-color: black;
}